@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}


#header-score h2{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

#header-score h1{
    font-family: "MuseoModerno", Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    color: #048BA8;
    margin: 0;
}

canvas{
    border-radius: 8px;
    border: 8px solid #333;
}

button{
    width: 496px;
    height: 32px;
    background-color: #048BA8;
    color: #eee;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

button:hover{
    background-color: #eee;
    color: #048BA8;
    border: 1px solid #048BA8;
}